#nuoc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    display: block;
}

#s, #d1, #d2, #d3, #tl, #fsc, #gfs {
    position: absolute;
    z-index: 1;
}

#aquarium {
    position: relative;
    width: 100%;
    height: 100vh;
}
#s {
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: 5;
    animation-name: s;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes s {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    50% {left: 600px; top: 50px;}
    60% {left: 600px; top: 100px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px; transform: scaleX(-1);}
}
#d1 {
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: 4;
    animation-name: d1;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes d1 {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    50% {left: 600px; top: 50px;}
    60% {left: 600px; top: 100px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px; transform: scaleX(-1);}
}
#d2 {
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: 3;
    animation-name: d2;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes d2 {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    50% {left: 600px; top: 50px;}
    60% {left: 600px; top: 100px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px; transform: scaleX(-1);}
}
#d3 {
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: 2;
    animation-name: d3;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes d3 {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    50% {left: 600px; top: 50px;}
    60% {left: 600px; top: 100px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px; transform: scaleX(-1);}
}
#tl {
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: 6;
    animation-name: tl;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes tl {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    50% {left: 600px; top: 50px;}
    60% {left: 600px; top: 100px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px; transform: scaleX(-1);}
}
#gfs {
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: 7;
    animation-name: gfs;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes gfs {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    50% {left: 600px; top: 50px;}
    60% {left: 600px; top: 100px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px; transform: scaleX(-1);}
}
#fsc {
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: 1;
    animation-name: fsc;
    animation-duration: 19s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes fsc {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 350px;}
    40% {left: 500px; top: 200px;}
    60% {left: 600px; top: 100px;}
    80% {left: 500px; top: 250px;}
    100% {left: 100px; top: 400px; transform: scaleX(-1);}
}